$color__header-background: #ffffff;

$color__site-title: #ffffff;
$color__site-description: #dddddd;	

$color__header-nav: #dddddd;
$color__header-nav-hover: #ffffff;


$color__slide-title: #ffffff;
$font__slide-title-size: 2em;
$color__slide-subtitle: #ffffff;
$font__slide-subtitle-size: 1em;
$color__slide-button: #ffffff;
$font__slide-button-size: 1em;


$color__cat-links: #ffffff;
$color__tags-links: #ffffff;

$color__hentry-border: #dedede;

$color__entry-title-border: #dedede;
$color_entry-meta: #555555;