$color__header-background : #ffffff;


$color__header-nav-font: #777777;
$color__header-nav-font-hover: #333333;


$color__slide-title: #ffffff;
$font__slide-title-size: 2em;
$color__slide-subtitle: #ffffff;
$font__slide-subtitle-size: 1em;
$color__slide-button: #ffffff;
$font__slide-button-size: 1em;


$color__cat-links : #ffffff;
$color__tags-links : #ffffff;