.loungeact-article-row {
	text-align: center;
	.entry-header,
	.entry-meta,
	.entry-content,
	.entry-footer {
		text-align: left;
	}
}

.hentry {
    padding: 1em 0;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-title {
	border-bottom: 1px solid $color__entry-title-bottom-border;
	width: 80%;
    margin-top: 0.4em;
    
	&:after {
		content : '';
		border-bottom: solid 1px $color__entry-title-decoration;
		margin-bottom: -1px;
		display: block;
		width: 50%;
	}
	
	a{
		color: $color__entry-title;
		&:visited{
			color: $color__entry-title;
		}
	}
	
}

.entry-meta {
	@include font-size(0.85);
	color: $color_entry-meta;
	
	.posted-on-icon,
	.byline-icon,
	.categories-icon {
		margin-right: 5px;
	}
	
	a:link,
	a:visited {
		color: $color_entry-meta;
	}

}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer {
	@include font-size(0.9);
	
	.edit-link,
	.comments-link {
		display: block;
	}
	
	.edit-link {
		float: right;
		
		a,
		a:visisted,
		a:hover {
			color: #555555;
		}
	}
}

.tags-links .label {
	font-weight: normal;
	font-size: 85%;
	
	a {
		color: $color__tags-links;
	}
}

.loungeact-img-preview {
    text-align: center;
    
    img {
   	    border: 1px solid #cccccc;
    	padding: 5px;
    }
}
