.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.lougeact-table-cell {
	float: none;
	display: table-cell;
	vertical-align: middle;
}

.fa {
	margin-left: 5px;
	margin-right: 5px;
}