.no-border-radius {
	border-radius: 0 !important;
}




.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.lougeact-table-cell {
	float: none;
	display: table-cell;
	vertical-align: middle;
}

.lougeact-table.row {
	display: table;
	
	[class*="col-"] {
	    float: none;
	    display: table-cell;
	    vertical-align: top;
	}
}

.background-fullpage {
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: inherit;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
